.filter-section {
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Manrope', sans-serif;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.3;

    @media screen and (min-width: 768px) {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

.filter-section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown__categories {
    position: relative;
    display: inline-block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.dropdown__others {
    display: none;

    @media screen and (min-width: 768px) {
        position: relative;
        display: inline-block;
    }
}

/* Show the dropdown menu on hover */
.dropdown__others:hover .dropdown__content {
    display: block;
}

.dropdown__categories:hover .dropdown__content {
    display: block;
}

/* Dropdown Button */
.dropdown__btn {
    width: 112px;

    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 13px;
    padding-right: 37px;

    color: $accent-color;
    background: $white-color;
    border: 1px solid $accent-color;
    border-radius: 20px;

    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 112px;
        
        padding-left: 24.5px;
        padding-right: 48.5px;

        margin-left: 14px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 16px;
    }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown__btn:hover,
.dropdown__btn:focus {
    color: $white-color;
    background-color: $accent-color;
}

.dropdown__btn-icon-arrow-down {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;

    fill: #A2A2A2;

    @media screen and (min-width: 768px) {
        right: 24.5px;
    }
}

.dropdown__btn:focus + .dropdown__btn-icon-arrow-down,
.dropdown__btn:hover + .dropdown__btn-icon-arrow-down {
    display: none;
}

.dropdown__btn-icon-arrow-up {
    display: none;
}

.dropdown__btn:focus ~ .dropdown__btn-icon-arrow-up,
.dropdown__btn:hover ~ .dropdown__btn-icon-arrow-up {
    display: block;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;

    fill: $white-color;

    @media screen and (min-width: 768px) {
            right: 24.5px;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
    display: none;
    position: absolute;
    min-width: 148px;

    padding-top: 14px;
    padding-right: 14px;
    padding-left: 14px;

    background-color: #F8F8F8;
    box-shadow: (0px 10px 60px rgba(0, 0, 0, 0.1));
    z-index: 1;

    @media screen and (min-width: 320px) {
        min-width: 168px;

        padding-right: 24px;
        padding-left: 24px;
    }
}

/* Links inside the dropdown */
.dropdown__link {
    display: block;
    margin-bottom: 12px;
    color: #4440F7;
}

/* Change color of dropdown links on hover */
.dropdown__link:hover {
    text-decoration: underline;
}

.filter__list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;  
        gap: 14px;
    }

    @media screen and (min-width: 1280px) {
        gap: 16px;
    }
}

.filter__item-desktop {
    display: none;

    @media screen and (min-width: 1280px) {
        display: block;
    }
}

.filter__link {
    @media screen and (min-width: 768px) {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        padding-left: 24.5px;
        padding-right: 24.5px;

        color: $accent-color;
        background: $white-color;
        border: 1px solid $accent-color;
        border-radius: 20px;

        cursor: pointer;
    }
}

.filter__link:hover,
.filter__link:focus {
    color: $white-color;
    background: $accent-color;
}

.filter__link-desktop {
    @media screen and (min-width: 768px) {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        padding-left: 24.5px;
        padding-right: 24.5px;

        color: $accent-color;
        background: $white-color;
        border: 1px solid $accent-color;
        border-radius: 20px;

        cursor: pointer;
    }
}

.filter__link-desktop:hover,
.filter__link-desktop:focus {
    color: $white-color;
    background: $accent-color;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;

    margin-left: auto;
}

.filter-section__text {
    display: none;

    @media screen and (min-width: 1280px) {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.36;
        color:#111321;
    }
}

.filter-section__input-group {
    position: relative;
    margin-left: 24px;

    @media screen and (min-width: 768px) {
        margin-left: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 34px;
    }
}

.datetime-picker__input {
    width: 151px;
    height: 31px;

    padding-left: 45px;

    color: #A2A2A2;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;

    border: 1px solid $primary-text-color-light-theme;
    border-radius: 20px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    background-color: transparent;
    color: white;

    @media screen and (min-width: 768px) {
        width: 168px;
        font-size: 14px;
        line-height: 1.5;
    }
}

.datetime-picker__input:hover,
.datetime-picker__input:focus {
    color: $white-color;
    background-color: $accent-color;
    outline: 1px solid $accent-color;
    border-radius: 20px;
}

.datetime-picker__input-icon-calender {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;

    fill: $accent-color;

    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }
}

.datetime-picker__input:focus + .datetime-picker__input-icon-calender,
.datetime-picker__input:hover + .datetime-picker__input-icon-calender {
    fill: $white-color;
}

.datetime-picker__input-icon-arrow-down {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;

    fill: #A2A2A2;
}

.datetime-picker__input:focus ~ .datetime-picker__input-icon-arrow-down,
.datetime-picker__input:hover ~ .datetime-picker__input-icon-arrow-down {
    display: none;
}

.datetime-picker__input-icon-arrow-up {
    display: none;
}

.datetime-picker__input:focus ~ .datetime-picker__input-icon-arrow-up,
.datetime-picker__input:hover ~ .datetime-picker__input-icon-arrow-up {
    display: block;

    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;

    fill: $white-color;
}

// FLATPICKR

.flatpickr-calendar {
    background-color: #F8F8F8;
    color: #000000;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px
}

.flatpickr-monthDropdown-months {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    color: #000000;
}

.flatpickr-weekdays {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(60, 60, 67, 0.3);
}

.dayContainer {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;

    color: #000000;
}

.flatpickr-day.selected {
    background-color: $accent-color !important;
    border-color: $accent-color !important;
}

.selected:hover,
.selected:focus {
    background-color: $accent-color !important;
    border-color: $accent-color !important;
}

.flatpickr-prev-month {
    fill: $accent-color !important;
    stroke: $accent-color !important;
}

.flatpickr-next-month {
    fill: $accent-color !important;
    stroke: $accent-color !important;
}