:root {
    /* FONTS */
    --main-font: 'Manrope', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --toggle-font:'Poppins', sans-serif;
  
    /* BACKGROUND COLORS */
    --light-bgc:rgba(244, 244, 244, 1)
    --dark-bgc: rgba(46, 46, 46, 1);

    --elements-color: rgba(229, 229, 229, 1);
  
    /* TEXT COLORS */
    --primary-text-color: rgba(17, 19, 33, 1);
    --accent-color: rgba(75, 72, 219, 1);

  
  }

 .is-hidden {
    display:none
 } 

.container {
    max-width: 767px;
      margin: 0 auto;
  
      padding-left: 16px;
      padding-right: 16px;
     @media screen and (min-width: 767px){
      max-width: 768px;
     }
  
     @media screen and (min-width:1279px) {
      max-width:1280px;
  
     }
  }
.header{
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.header__container{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-around;
    
}
.logo {
color:var(--primary-text-color);
font-family: Manrope;
font-weight: 700;
font-size: 24px;
line-height: 33px;
// margin-right: 167px;

@media screen and (min-width: 767px){
    max-width: 768px;
    margin-right: 48px;
    font-size: 32px;
    line-height: 44px
   
}
@media screen and(min-width:1200px) {
    margin-right: 102px;  
    font-size: 42px;
    line-height: 57px;
  }


}

.nav__list{
    @media screen and (max-width: 767px) {
        display: none;
            }
            @media screen and (min-width: 767px){
                max-width: 768px;
                margin-right: 32px;
               
            }
            display: flex;

            @media screen and(min-width:1200px) {
                margin-right: 140px;  
              }
            
}



.nav__item:not(:last-child) {
    @media screen and (min-width: 767px){
        margin-right: 44px;
    }
    @media screen and(min-width:1200px) {
        margin-right: 69px;  
      }
   
}


.nav__link {
    position: relative;
    display: block;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: inherit;
    cursor: pointer;
}


.nav__link--current::after{

    content: '';
    width: 100%;
    border: 1px solid #4440F7;
    background-color: rgba(68, 64, 246, 1);
    position: absolute;
    top: 35px;
    left: 0;
    // bottom:1px;
}

.search-container{
    margin-right: 14px;

    @media screen and (min-width: 768px) {
        margin-right: 24px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 147px;
    }
}
.nav-svg{
    stroke: #111321;
}

.search-form{
    position: relative;
}

.search-input{
    opacity: 0;
    width: 173px;
    height: 31px;

    padding-left: 48px;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(21 / 12);

    background-color: transparent;
    border: 1px solid #111321;
    border-radius: 20px;
    outline: none;

    @media screen and (min-width: 768px) {
        opacity: 1;
        width: 213px;

        font-size: 14px;
        line-height: calc(24 / 14);
    }

    @media screen and (min-width: 1280px) {
        width: 288px;
    }
}

.search-input::placeholder {
    color: #111321;
    opacity: 0.4;
}

.search-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 78%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 12px;

    background-color: transparent;
    border-color: transparent;

    cursor: pointer;

    @media screen and(min-width: 768px) {
        left: 0;
    }
}

.icon-search{
    width: 20px;
    height: 20px;

    @media screen and (min-width: 768px) {
        width: 20px;
        height: 19px;
    }
}

// .nav__search-bar{
//     @media screen and (max-width: 767px) {
//         display: none;
//             }
//             @media screen and (min-width: 768px){
//                 position: relative;
                
//             }
    
            
// }

// .input-search{
//     width: 173px;
//     height: 31px;
//     outline: 1px solid transparent;
//     border: 1px solid var(--primary-text-color);
//     border-radius: 20px;
//     font-family: 'Poppins';
//     font-size: 12px; 
//     color: #111321;
//     background-color: transparent;

//     padding: 5px 5px 5px 48px; 
//     vertical-align: middle;

//     @media screen and (min-width: 768px){
//         width: 213px;
//         font-size: 14px;
//         margin-right: 24px;
//     }

//     @media screen and(min-width:1200px) {
//         width: 288px;
//         margin-right: 140px;
//     }
// }

// .nav__search-icon{
//     position: absolute;
//     left: 12px;
//     top: 25%;
//     fill: #111321;
//  }



.nav__svg{
    stroke: black;

}

// .nav__search{
//     margin-right: 14px;
//     @media screen and (min-width: 767px) {
//         display: none;
//             }
// }

.theme-toggle__list{
    @media screen and (max-width: 767px) {
        display: none;
            }
     @media screen and (min-width: 768px)
        {max-width: 1279px;
            display: flex;
        gap:8px
    }
    @media screen and (min-width: 1280px){
        gap: 12px;
    }
    }

.theme-toggle__item {
    align-items: center;
  justify-content: center;
background-color: transparent;
}

.sun-icon{
    stroke:  rgba(75, 72, 219, 1);
    fill: none;
    // cursor: pointer;
    // @media screen and (min-width: 1280px){
    //     display: none;
    // }
}
.moon-icon {
    stroke: rgba(95, 103, 117, 1);
  fill: none;
//   cursor: pointer;
//     @media screen and (min-width: 1280px){
//         display: none;
//     }
}

.tablet-theme-light,
.tablet-theme-dark {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
    @media screen and (min-width: 1280px){
        display: none;
    }
}



.theme-svg-dark{
    fill: 
    rgba(75, 72, 219, 1)
}

.theme-toggle__text{
    @media screen and (max-width: 1279px){
display: none;
}

    @media screen and (min-width: 1280px){
        font-family: Poppins;
        font-size: 18px;
        line-height: 24px;
        color: rgba(75, 72, 219, 1)
        // text-shadow: rgba(0, 0, 0, 0.25);
       
    
    }
   
}

.theme-toggle-light__text--left{
    color: rgba(75, 72, 219, 1);
    border: none;
    padding: 0;
background-color: transparent;
    // text-shadow: rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.theme-toggle-dark__text--left{
color:rgba(244, 244, 244, 1);
}

.theme-toggle-light__text--right{
    color: #5F6775;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.theme-toggle-dark__text--right{
    color: rgba(68, 64, 247, 1);
    ;
}



.burger-menu{
    fill: #111321;
}
//


// TOGGLE
.toggle input[type='checkbox'] {
    display: none;
  }
  
  .toggle label {
    background-color: #ffffff;
    border: 0.604701px solid #4b48db;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 40px;
    height: 20px;
  
  .toggle label::after {
    background-color: #4b48db;
    border-radius: 20px;
    content: '';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 1.5px;
    top: 1.5px;
    transition: all ease-in-out 0.3s;
    width: 16px;
    height: 16px;
  }
  
  .toggle input[type='checkbox']:checked ~ label {
    background-color: #4440f7;
    border: 1px solid #ffffff;
  }
  
  .toggle input[type='checkbox']:checked ~ label::after {
    background-color: #ffffff;
    transform: translateX(19px);
  }
  
  // бiгунок для таблетки
  .toggle1 input[type='checkbox'] {
    display: none;
  }
  
  .toggle1 label {
    background-color: #ffffff;
    border: 0.604701px solid #4b48db;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 40px;
    height: 20px;
  }
  
  .toggle1 label::after {
    background-color: #4b48db;
    border-radius: 20px;
    content: '';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 1.5px;
    top: 1.5px;
    transition: all ease-in-out 0.3s;
    width: 16px;
    height: 16px;
  }
  
  .toggle1 input[type='checkbox']:checked ~ label {
    background-color: #4440f7;
    border: 1px solid #ffffff;
  }
  
  .toggle1 input[type='checkbox']:checked ~ label::after {
    background-color: #ffffff;
    transform: translateX(19px);
  }
  }