:root {
    /* FONTS */
    --main-font: 'Manrope', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --toggle-font:'Poppins', sans-serif;
  
    /* BACKGROUND COLORS */
    --light-bgc:rgba(244, 244, 244, 1)
    --dark-bgc: rgba(46, 46, 46, 1);

    --elements-color: rgba(229, 229, 229, 1);
  
    /* TEXT COLORS */
    --primary-text-color: rgba(17, 19, 33, 1);
    --accent-color: rgba(75, 72, 219, 1);

  
    /* OTHER */
    --indent: 30px;
    --items: 4;
  }
  

.container {
    max-width: 480px;
      margin: 0 auto;
  
      padding-left: 16px;
      padding-right: 16px;
      
  
  
     @media screen and (min-width: 767px){
      max-width: 768px;
     }
  
     @media screen and (min-width:1279px) {
      max-width:1280px;
  
     }
  }
.header{
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.header__container{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.logo {
color:var(--primary-text-color);
font-family: Manrope;
font-weight: 700;
font-size: 24px;
line-height: 33px;
margin-right: 167px;

@media screen and (min-width: 767px){
    max-width: 768px;
    margin-right: 48px;
    font-size: 32px;
    line-height: 44px
   
}
@media screen and(min-width:1200px) {
    margin-right: 102px;  
    font-size: 42px;
    line-height: 57px;
  }


}

.nav__list{
    @media screen and (max-width: 767px) {
        display: none;
            }
            @media screen and (min-width: 767px){
                max-width: 768px;
                margin-right: 32px;
               
            }
            display: flex;

            @media screen and(min-width:1200px) {
                margin-right: 147px;  
              }
            
}

.nav__item {
    font-family: Manrope;
    font-weight: 700;
    font-size: 18px;
line-height: 25px;
}

.nav__item:not(:last-child) {
    @media screen and (min-width: 767px){
        margin-right: 44px;
    }
    @media screen and(min-width:1200px) {
        margin-right: 69px;  
      }
   
}


.nav__link {
    position: relative;
    display: block;
}


.nav__link--current::after{

    content: '';
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: rgba(68, 64, 246, 1);
    position: absolute;
    top: 35px;
    left: 0;
    bottom:1px;
}

.nav__search-bar{
    @media screen and (max-width: 767px) {
        display: none;
            }
            @media screen and (min-width: 768px){
                position: relative;
                
            }
    
            
}

.input-search{
    width: 173px;
    height: 31px;
    outline: 1px solid transparent;
    border: 1px solid var(--primary-text-color);
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 12pt; 
    color: rgba(17, 19, 33, 1);

    padding: 5px 5px 5px 48px; 
    vertical-align: middle;

    @media screen and (min-width: 768px){
        width: 213px;
        font-size: 14pt;
        margin-right: 24px;
    }

    @media screen and(min-width:1200px) {
        width: 288px;
        margin-right: 147px;
    }
}

.nav__search-input{
    position: absolute;
    left: 12px;
    top: 25%;
 }



.nav__svg{
    stroke: black;
    @media screen and (min-width: 767px) {
        display: none;
            }
}

.nav__search{
    margin-right: 14px;
    @media screen and (min-width: 767px) {
        display: none;
            }
}

.theme-toggle__list{
    @media screen and (max-width: 767px) {
        display: none;
            }
     @media screen and (min-width: 768px)
        {max-width: 1279px;
            display: flex;
        gap:8px
    }
    @media screen and (min-width: 1280px){
        gap: 12px;
    }
    }


.theme-toggle__item {

}
.theme-svg {
    fill: rgba(95, 103, 117, 1);
    stroke: rgba(95, 103, 117, 1) ;
    @media screen and (min-width: 1280px){
        display: none;
    }
}

.theme-svg-dark{
    fill: 
    rgba(75, 72, 219, 1)
}

.theme-toggle__text{
    @media screen and (max-width: 1279px){
display: none;
}

    @media screen and (min-width: 1280px){
        font-family: Poppins;
        font-size: 18px;
        line-height: 24px;
        color: rgba(75, 72, 219, 1)
        // text-shadow: rgba(0, 0, 0, 0.25);
       
    
    }
   
}

.theme-toggle-light__text--right{
    color: rgba(75, 72, 219, 1);
}
.theme-toggle-dark__text--right{

}

.theme-toggle__text--left{
    color: #5F6775;
}

.theme-toggle__switcher--light{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    border: 0.6px solid  rgba(75, 72, 219, 1);
    position: relative;
}

.theme-toggle__switcher--light::after{
    content:'';
    position: absolute;
    top:1px;
    left:1px;
    width:17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(75, 72, 219, 1) ;

}

.theme-toggle__switcher--dark{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    border: 0.6px solid  white;
    background-color: rgba(75, 72, 219, 1) ;
    position: relative;
}

.theme-toggle__switcher--dark::after{
    content:'';
    position: absolute;
    top:1px;
    left:21px;
    width:17px;
    height: 17px;
    border-radius: 50%;
    background-color:white ;

}