body {
    font-style: normal;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 320px;
    margin: 0 auto;
  
    padding-left: 16px;
    padding-right: 16px;
  
  
    @media screen and (min-width: 767px){
     max-width: 768px;
    }
  
    @media screen and (min-width:1279px) {
     max-width:1280px;
  
    }
}