$accent-color: #4440F6;
$white-color: #ffffff;

$primary-text-color-light-theme: #111321;
$primary-text-color-dark-theme: #F4F4F4;
$secondary-text-color: #A8A8A8;

$light-theme-bcg-color: #F4F4F4;
$dark-theme-bcg-color: #2E2E2E;

$theme-svg-on-color: #4B48DB;
$theme-svg-off-color: #5F6775; 
body{
    background-color: #4B48DB;
}