.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 24px;
  padding-bottom: 19px;
  background-color: $primary-text-color-dark-theme;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 74px;
}

.menu-nav .logo {
  display: inline-block;
  margin-left: 16px;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  padding-left: 16px;

  &.current {
    background-color: $accent-color;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.mobile-menu__icon {
  &.current {
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

.mobile-menu__arrow {
  display: none;
  margin-right: 10px;

  &.current {
    display: flex;
  }
}

.mobile-menu__link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: $primary-text-color-light-theme;
  margin-left: 14px;
  margin-right: auto;

  &.current {
    color: #fff;
  }
}

.mobile-theme-toggle__list {
  margin-left: 16px;
  @media screen and (min-width: 320px) {
    max-width: 767px;
    display: flex;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.theme-toggle__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.theme-toggle__switcher {
  margin-right: 8px;
}
.theme-toggle__switcher .theme-svg {
  fill: rgba(95, 103, 117, 1);
  stroke: rgba(95, 103, 117, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.theme-svg-dark {
  fill: rgba(75, 72, 219, 1);
}

.theme-toggle__switcher--light {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 0.6px solid rgba(75, 72, 219, 1);
  position: relative;
}

.theme-toggle__switcher--light::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgba(75, 72, 219, 1);
}

.theme-toggle__switcher--dark {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 0.6px solid white;
  background-color: rgba(75, 72, 219, 1);
  position: relative;
}

.theme-toggle__switcher--dark::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 21px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
}

.theme-toggle__item .sun {
  fill: $accent-color;
  stroke: $accent-color;
}
