.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  stroke: $primary-text-color-light-theme;
}
.is-hidden{
  transform: translateX(100%);
  display: none;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 24px;
  padding-bottom: 19px;
  background-color: $primary-text-color-dark-theme;
  z-index: 999;
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 74px;
}

.mobile-logo {
  display: inline-block;
  margin-left: 16px;
  color: var(--primary-text-color);
  font-family: Manrope;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.mobile-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: black;

  &.current:hover {
    background-color: $accent-color;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.mobile-menu__icon {
  &.current {
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

.mobile-menu__arrow {
  display: none;
  margin-right: 10px;

  &.current {
    display: flex;
  }
}

.mobile-menu__link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: $primary-text-color-light-theme;
  margin-left: 14px;
  margin-right: auto;

  // &.current {
  //   color: #f4f4f4;
  // }
}

.mobile-theme-toggle__list {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 16px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-theme-toggle__item {
  background-color: transparent;
}

.mobile-sun-icon {
  stroke: rgba(75, 72, 219, 1);
  fill: none;
}
.mobile-moon-icon {
  stroke: rgba(95, 103, 117, 1);
  fill: none;
}

.mobile-theme-light,
.mobile-theme-dark {
  border: none;
  padding: 0;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.mobile-theme-svg-dark {
  fill: rgba(75, 72, 219, 1);
}

.mobile-theme-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  width: 40px;
}

.mobile-toggle-light {
  height: 20px;
  width: 52px;
}
.menu-toggle-dark {
  height: 20px;
  width: 40px;
}

// .theme-toggle__switcher--light{
//     width: 40px;
//     height: 20px;
//     border-radius: 20px;
//     border: 0.6px solid  rgba(75, 72, 219, 1);
//     position: relative;
// }

// .theme-toggle__switcher--light::after{
//     content:'';
//     position: absolute;
//     top:1px;
//     left:1px;
//     width:17px;
//     height: 17px;
//     border-radius: 50%;
//     background-color: rgba(75, 72, 219, 1) ;

// }

// .theme-toggle__switcher--dark{
//     width: 40px;
//     height: 20px;
//     border-radius: 20px;
//     border: 0.6px solid  white;
//     background-color: rgba(75, 72, 219, 1) ;
//     position: relative;
// }

// .theme-toggle__switcher--dark::after{
//     content:'';
//     position: absolute;
//     top:1px;
//     left:21px;
//     width:17px;
//     height: 17px;
//     border-radius: 50%;
//     background-color:white ;

// }
.theme-toggle__item .sun {
  fill: $accent-color;
  stroke: $accent-color;
}
// .header-switch-menu-mob {
//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     display: flex;
//     gap: 14px;
//     align-items: center;
   
//   }


// }

// .btn-search-mob {
// }
// .btn-search {
// }
// .svg-btn-search {
// }
// .menu-toggle {
//   display: flex;
//   min-height: 24px;
//   min-width: 24px;
//   align-items: center;
//   justify-content: center;

//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   outline: none;
// }

// .menu-toggle__icon {
// }
// .toggle input[type='checkbox'] {
//   display: none;
// }

// .toggle label {
//   background-color: #ffffff;
//   border: 0.604701px solid #4b48db;
//   border-radius: 20px;
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   transition: all ease-in-out 0.3s;
//   width: 40px;
//   height: 20px;
// }

// .toggle label::after {
//   background-color: #4b48db;
//   border-radius: 20px;
//   content: '';
//   cursor: pointer;
//   display: inline-block;
//   position: absolute;
//   left: 1.5px;
//   top: 1.5px;
//   transition: all ease-in-out 0.3s;
//   width: 16px;
//   height: 16px;
// }

// .toggle input[type='checkbox']:checked ~ label {
//   background-color: #4440f7;
//   border: 1px solid #ffffff;
// }

// .toggle input[type='checkbox']:checked ~ label::after {
//   background-color: #ffffff;
//   transform: translateX(19px);
// }
.theme-toggle_mob{
  display: flex;
  gap:8px
}

