@import '../../node_modules/bulma/css/bulma.css';
.pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  @media screen and (min-width: 600px) {
    max-width: 410px;
  }
        @media screen and (min-width:   1100px) {
          max-width: 410px;
        }
}
.pagination-link {
  min-width: 28px;
  height: 28px;
  border-color: #6c6aff;
}
.pagination-previous {
  cursor: pointer;
  height: 31px;
  color: #363636;
  margin-left: 10px;
  border-color: #6c6aff;
  @media screen and (min-width: 433px) {
    border-color: #6c6aff;
  }
}
.pagination-next {
  cursor: pointer;
  height: 31px;
  color: #363636;
  border-color: #4440f6;
  @media screen and (min-width: 433px) {
    // border-color: #6c6aff;
  }

  @media screen and (min-width: 600px) {
    order: 3;
  }
}

.pagination-previous:active,
.pagination-previous:focus,
.pagination-previous:hover {
  // border-color: transparent;
  box-shadow: none;
  border-color: #6c6aff;
}


.pagination-next:active,
.pagination-next:focus,
.pagination-next:hover {
  // border-color: transparent;
  box-shadow: none;
  border-color: #6c6aff;
}
.pagination-ellipsis {
  color: black;
}
.svg {
  margin-right: 10px;
}
.svg2 {
  margin-left: 10px;
}

.pagination-ellipsis_first,
.pagination-ellipsis_last {
  padding: 8px;
}
.hidden-elm {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pagination-ellipsis_last,
.pagination-ellipsis_first {
  padding: 5;
}
