@import '../../node_modules/bulma/css/bulma.css';
.pagination {
  // flex-direction: row;

  @media screen and (min-width: 433px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 490px) {
    max-width: 470px;
  }
}
.pagination-link {
  min-width: 28px;
  height: 28px;
border-color: #6c6aff;
}
.pagination-previous {
height: 31px;
    color: #363636;
  margin-left: 10px;
  border-color: #6c6aff;
  @media screen and (min-width: 433px) {

    border-color: #6c6aff;
    width: 82px;
  }
//   @media screen and (min-width: 490px) {
 
//       height: 31px;
//   }
}
.pagination-next {
height: 31px;
    color: #363636;
  border-color: #4440F6;
  @media screen and (min-width: 433px) {
    border-color: #6c6aff;
    width: 82px;
  }
//   @media screen and (min-width: 490px) {
//     height: 31px;
//   }
@media screen and (min-width: 765px) {
            order: 3;

        }
}
.pagination-next:focus,
.pagination-previous:focus,
.pagination-previous:focus,
.pagination-previous:hover {
border-color: transparent;
box-shadow: none;
border-color: #6c6aff;
}


.pagination-next:active,
.pagination-previous:active,
.pagination-previous:focus,
.pagination-previous:hover {
border-color: transparent;
box-shadow: none;
border-color: #6c6aff;


}
.pagination-ellipsis {
  color: black;
}
.svg {
  margin-right: 10px;
} 
.svg2 {
margin-left: 10px;
}

.pagination-ellipsis_first,
.pagination-ellipsis_last {
padding: 8px;
}
.hidden-elm {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}