    <section class="filter-section">
        <div class="filter-section__container">
            <ul class="filter__list">
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        Admin
                    </a>
                </li>
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        Arts
                    </a>
                </li>
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        Automobiles
                    </a>
                </li>
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        Books
                    </a>
                </li>
                <li class="filter__item-desktop">
                    <a href="#" class="filter__link desktop">
                        Briefing
                    </a>
                </li>
                <li class="filter__item-desktop">
                    <a href="#" class="filter__link desktop">
                        Business
                    </a>
                </li>
            </ul>
    
            <div class="dropdown__others">
                <button class="dropdown__btn">Others</button>
                <div class="dropdown__content">
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Climate</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Corrections</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Crosswords & Games</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Education</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">En Español</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Fashion</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Food</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Guides</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Health</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Home & Garden</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Home Page</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Job Market</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Lens</a>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="dropdown__categories">
                <button class="dropdown__btn">Categories</button>
                <div class="dropdown__content">
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Climate</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Corrections</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Crosswords & Games</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Education</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">En Español</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Fashion</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Food</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Guides</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Health</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Home & Garden</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Home Page</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Job Market</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Lens</a>
                        </li>
                    </ul>
                </div>
            </div>
    
             <p class="filter-section__text">Search date news</p>
            <input type="text" id="datetime-picker" class="datetime-picker__input">
        </div>
    </section>