<div class="menu-container js-menu-container is-hidden" id="mobile-menu">
  <div class="menu-nav">
    <a href="index.html" class="mobile-logo">News</a>

    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle__icon" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#close"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item current">
      <svg class="mobile-menu__icon current" width="32" height="32">
        <use href="/src/img/symbol-defs.svg#home"></use>
      </svg>
      <a class="mobile-menu__link current" href="./index.html">Home</a>
      <svg class="mobile-menu__arrow current" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </li>
    <li class="mobile-menu__item current">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="/src/img/symbol-defs.svg#favorite"></use>
      </svg>
      <a class="mobile-menu__link current" href="./favourite.html">Favorite</a>
      <svg class="mobile-menu__arrow" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </li>
    <li class="mobile-menu__item current">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="/src/img/symbol-defs.svg#read"></use>
      </svg>
      <a class="mobile-menu__link current" href="./read.html">Read</a>
      <svg class="mobile-menu__arrow" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </li>
  </ul>

  <!-- тоггл викл вкл -->

  <ul class="mobile-theme-toggle__list">
    <li class="theme-toggle__item">
      <svg class="theme-svg sun" width="21" height="21">
        <use href="/src/img/symbol-defs.svg#sun"></use>
      </svg>
    </li>
    <li class="theme-tog">
      <div class="togii">
        <svg class="" width="24" height="24">
          <use href="./img/toggle/toggle-light.png"></use>
      </div>
    </li>
    <li class="theme-toggle__item">
      <svg class="moon-icon" width="21" height="21">
        <use href="/src/img/symbol-defs.svg#moon"></use>
      </svg>
    </li>
  </ul>
</div>
