<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="24" height="24">
      <use href="/src/img/symbol-defs.svg#close"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link current" href="./index.html">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Favorite</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Read</a>
    </li>
  </ul>
</div>
