<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-nav">
    <a href="index.html" class="mobile-logo">News</a>

    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle__icon" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#close"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item current">
      <svg class="mobile-menu__icon current" width="32" height="32">
        <use href="/src/img/symbol-defs.svg#home"></use>
      </svg>
      <a class="mobile-menu__link current" href="./index.html">Home</a>
      <svg class="mobile-menu__arrow current" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </li>
    <li class="mobile-menu__item">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="/src/img/symbol-defs.svg#favorite"></use>
      </svg>
      <a class="mobile-menu__link" href="">Favorite</a>
      <svg class="mobile-menu__arrow" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </li>
    <li class="mobile-menu__item">
      <svg class="mobile-menu__icon" width="32" height="32">
        <use href="/src/img/symbol-defs.svg#read"></use>
      </svg>
      <a class="mobile-menu__link" href="">Read</a>
      <svg class="mobile-menu__arrow" width="24" height="24">
        <use href="/src/img/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </li>
  </ul>

  <!-- mobile theme toggle -->

  <ul class="mobile-theme-toggle__list">
    <li class="mobile-theme-toggle__item">
      <button type="button" class="mobile-theme-light">
        <svg class="mobile-sun-icon" width="21" height="21">
          <use href="/src/img/symbol-defs.svg#sun"></use>
        </svg>
      </button>
    </li>
    <li class="mobile-theme-toggle__item">
      <button type="button" class="mobile-theme-toggle mobile-toggle-light">
        <img
          src="/src/img/toggle/toggle-light.png"
          alt="toggle"
          class="mobile-theme-toggle-svg-light"
          height="20"
          width="40"
        />
        <img
          src="/src/img/toggle/toggle-dark.png"
          alt="toggle"
          class="mobile-theme-toggle-svg-dark is-hidden"
          height="20"
          width="40"
        />
      </button>
    </li>
    <li class="mobile-theme-toggle__item">
      <button type="button" class="mobile-theme-dark">
        <svg class="mobile-moon-icon" width="21" height="21">
          <use href="/src/img/symbol-defs.svg#moon"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
