<section class="section-news">
  <div class="container">
    <ul class="news-list">
      <li class="news-item">
        <div class="news-thumb">
          <img
            class="img-news"
            src="./img/articles/img1-ds.jpg"
            alt="img with news descr"
            width="288"
            height="395"
          />
          <p class="filter-descr">Job searching</p>
          <a href="#" class="link-add"
            >Add to favorite
            <svg class="add-icon" width="16" heigth="16">
              <use href="./img/symbol-defs.svg#heart-filled"></use>
            </svg>
          </a>
        </div>
        <div class="desr">
          <h2 class="title">
            8 tips for passing an online interview that will help you get a job
          </h2>
          <p class="subtitle">
            Before you start looking for a job, it is useful to familiarize
            yourself with the job prospects offered by these...
          </p>
          <div class="other-line">
            <p class="date">20/02/2021</p>
            <a href="#" class="hyperlink">Read more</a>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="news-thumb">
          <img
            class="img-news"
            src="./img/articles/img1-ds.jpg"
            alt="img with news descr"
            width="288"
            height="395"
          />
          <p class="filter-descr">Job searching</p>
          <a href="#" class="link-add"
            >Add to favorite
            <svg class="add-icon" width="16" heigth="16">
              <use href="./img/symbol-defs.svg#heart-filled"></use>
            </svg>
          </a>
        </div>
        <div class="desr">
          <h2 class="title">
            8 tips for passing an online interview that will help you get a job
          </h2>
          <p class="subtitle">
            Before you start looking for a job, it is useful to familiarize
            yourself with the job prospects offered by these...
          </p>
          <div class="other-line">
            <p class="date">20/02/2021</p>
            <a href="#" class="hyperlink">Read more</a>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="news-thumb">
          <img
            class="img-news"
            src="./img/articles/img1-ds.jpg"
            alt="img with news descr"
            width="288"
            height="395"
          />
          <p class="filter-descr">Job searching</p>
          <a href="#" class="link-add"
            >Add to favorite
            <svg class="add-icon" width="16" heigth="16">
              <use href="./img/symbol-defs.svg#heart-filled"></use>
            </svg>
          </a>
        </div>
        <div class="desr">
          <h2 class="title">
            8 tips for passing an online interview that will help you get a job
          </h2>
          <p class="subtitle">
            Before you start looking for a job, it is useful to familiarize
            yourself with the job prospects offered by these...
          </p>
          <div class="other-line">
            <p class="date">20/02/2021</p>
            <a href="#" class="hyperlink">Read more</a>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="news-thumb">
          <img
            class="img-news"
            src="./img/articles/img1-ds.jpg"
            alt="img with news descr"
            width="288"
            height="395"
          />
          <p class="filter-descr">Job searching</p>
          <a href="#" class="link-add"
            >Add to favorite
            <svg class="add-icon" width="16" heigth="16">
              <use href="./img/symbol-defs.svg#heart-filled"></use>
            </svg>
          </a>
        </div>
        <div class="desr">
          <h2 class="title">
            8 tips for passing an online interview that will help you get a job
          </h2>
          <p class="subtitle">
            Before you start looking for a job, it is useful to familiarize
            yourself with the job prospects offered by these...
          </p>
          <div class="other-line">
            <p class="date">20/02/2021</p>
            <a href="#" class="hyperlink">Read more</a>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="news-thumb">
          <img
            class="img-news"
            src="./img/articles/img1-ds.jpg"
            alt="img with news descr"
            width="288"
            height="395"
          />
          <p class="filter-descr">Job searching</p>
          <a href="#" class="link-add"
            >Add to favorite
            <svg class="add-icon" width="16" heigth="16">
              <use href="./img/symbol-defs.svg#heart-filled"></use>
            </svg>
          </a>
        </div>
        <div class="desr">
          <h2 class="title">
            8 tips for passing an online interview that will help you get a job
          </h2>
          <p class="subtitle">
            Before you start looking for a job, it is useful to familiarize
            yourself with the job prospects offered by these...
          </p>
          <div class="other-line">
            <p class="date">20/02/2021</p>
            <a href="#" class="hyperlink">Read more</a>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="news-thumb">
          <img
            class="img-news"
            src="./img/articles/img1-ds.jpg"
            alt="img with news descr"
            width="288"
            height="395"
          />
          <p class="filter-descr">Job searching</p>
          <a href="#" class="link-add"
            >Add to favorite
            <svg class="add-icon" width="16" heigth="16">
              <use href="./img/symbol-defs.svg#heart-filled"></use>
            </svg>
          </a>
        </div>
        <div class="desr">
          <h2 class="title">
            8 tips for passing an online interview that will help you get a job
          </h2>
          <p class="subtitle">
            Before you start looking for a job, it is useful to familiarize
            yourself with the job prospects offered by these...
          </p>
          <div class="other-line">
            <p class="date">20/02/2021</p>
            <a href="#" class="hyperlink">Read more</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
