<!-- <section class="weather">
  <div class="weather-container">
    <div class="weather-and-location">
      <div class="degrees">20&deg;</div>
      <div class="location-box">
        <p class="sky">Sunny</p>
        <p class="current-city">
          <svg class="current-city__icon-location">
            <use href="./img/symbol-defs.svg#location"></use></svg
          >Jakarta
        </p>
      </div>
    </div>
    <div>
      <img
        class="weatheh-image"
        src="https://openweathermap.org/img/wn/04n@4x.png"
        alt=""
      />
    </div>
    <p class="current-data"></p>
    <a
      class="weather-for-week"
      target="_blank"
      href="https://openweathermap.org/city/689487"
      >weather for week</a
    >
  </div>
</section> -->
